<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted"><%=Platipus::Renderer.copyright 'Faraz Noor', 'All rights reserved'%></small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Product Catalog</a></li>
          <li><a class="text-muted" href="#">Carousel</a></li>
          <li><a class="text-muted" href="#">Dynamic Invoice</a></li>
          <li><a class="text-muted" href="#">Sellers DashBoard</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Ruby On Rails</a></li>
          <li><a class="text-muted" href="#">Postgresql</a></li>
          <li><a class="text-muted" href="#">Ajax</a></li>
          <li><a class="text-muted" href="#">Bootstrap</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="http://faraznoor.live">Faraz Noor</a></li>
          <li><a class="text-muted" href="https://github.com/stingrayzboy">GitHub</a></li>
          <li><a class="text-muted" href="https://linkedin.com/in/go-get-faraz">Linked In</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- Container ends it began in index.html.erb -->
</div>
    