<div class="container">
<h1>Dashboard</h1>
<h3 class="text-center">Purchases By Day</h3>
	<%= line_chart Purchase.group_by_day(:created_at).count.transform_keys{|key| key=key.in_time_zone("Chennai")}%>
<h3 class="text-center">Inventory Overview</h3>
	<%= pie_chart @pie_chart%>




<div class="text-center">
	<div>
		<h1>Unsold Guitars</h1>
		<%=render partial:'shared/guitar_iterator',locals:{guitar:unsold}%>
	</div>

	<div>
		<h1>Sold Guitars</h1>
		<%=render partial:'shared/guitar_iterator',locals:{guitar:sold}%>
	</div>
</div>
