<div class="container">
<p id="notice"><%= notice %></p>
<%=render partial:"shared/show_product",locals:{product:@accessory}%>
<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
